# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions
adal==1.2.2
asn1crypto==1.4.0
azure-common==1.1.23
azure-keyvault==1.1.0
azure-nspkg==3.0.2
certifi==2019.9.11
cffi==1.12.3
chardet==3.0.4
cryptography==2.7
#cryptography==2.8
idna==2.8
isodate==0.6.0
msrest==0.6.10
msrestazure==0.6.2
oauthlib==3.1.0
pycparser==2.19
PyJWT==1.7.1
python-dateutil==2.8.0
requests==2.22.0
requests-oauthlib==1.2.0
six==1.12.0
urllib3==1.25.3
azure-storage-blob==12.4.0
azure-storage-common
boto3==1.9.213
botocore==1.12.213
docutils==0.15.2
future==0.17.1
idna==2.8
ijson==2.4
Jinja2==2.10.1
jmespath==0.9.4
MarkupSafe==1.1.1
pycryptodomex==3.8.2
pyOpenSSL==19.0.0
pytz==2019.2
PyYAML==5.1.2
s3transfer==0.2.1
snowflake-connector-python==2.3.1
pandas
snowflake.sqlalchemy==1.2.3
sqlalchemy==1.3.13
lxml
gnupg
pgpy